
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;

}


.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    justify-content: space-between;
}

.home a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 2rem;
    border-radius: 50px;
}


.nav_content a{
    margin: 1rem;
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 2rem;
    border-radius: 50px;
}

.keep_simble{
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    animation-name: fadeInSlideUp;
    animation-duration: 1.2s;
    animation-timing-function: ease-out; 
}

.keep_simble{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.keep_simble p{
    font-size: 200px;
    background-image: linear-gradient(to top,#9ac53b  0%, #2b2e8a 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: transparent;
}


/*
transform: translateY(20px); Ξεκινάει λίγο πιο κάτω 
animation-fill-mode: forwards; Κρατάει την τελική κατάσταση του animation
animation-name: fadeInSlideUp;
animation-duration: 1.5s;  Διάρκεια κάθε animation 
animation-timing-function: ease-out; Ομαλή μετάβαση 
*/
.animated-text.delay-1 { animation-delay: 0.5s; }
.animated-text.delay-2 { animation-delay: 1.2s; }
.animated-text.delay-3 { animation-delay: 1.9s; }
.animated-text.delay-4 { animation-delay: 2.6s; }

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {

    .keep_simble{
       height: auto;
       display: grid;
    }

}